<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            if menuList
                each menu in menuList
                    li 
                        a(href=menu.link)
                            span.title=menu.name
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!--END SIDEBAR-->