<!DOCTYPE html>
<html lang="en">
	<head>
		<title>醫療手環系統</title>
		include includes/css.pug
		block css
	</head>
	<body class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo">
		include includes/header.pug
		<div class="clearfix"></div>

		<!-- BEGIN CONTAINER -->
		<div class="page-container">
			include includes/sidemenu.pug
			<!-- BEGIN CONTENT -->
			<div class="page-content-wrapper">
				<div class="page-content">
				
					block content
					
				</div>
			</div>
			<!-- END CONTENT -->
		</div>
		<!-- END CONTAINER -->
		include includes/script.pug
		block script
	</body>
</html>
