doctype html
html
  <!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
  <!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
  <!--[if !IE]><!-->
  <!--<![endif]-->
  head
    title="醫療手環系統"
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all')
    link(rel='stylesheet', href='/assets/global/plugins/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/global/plugins/simple-line-icons/simple-line-icons.min.css')
    link(rel='stylesheet', href='/assets/global/plugins/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/global/plugins/uniform/css/uniform.default.css')
    link(rel='stylesheet', href='/assets/admin/login.css')
    link(rel='stylesheet', href='/assets/global/css/components-rounded.css')
    link(rel='stylesheet', href='/assets/global/css/plugins.css')
    link(rel='stylesheet', href='/assets/admin/layout/css/layout.css')
    link(rel='stylesheet', href='/assets/admin/layout/css/themes/default.css')
    link(rel='stylesheet', href='/assets/admin/layout/css/custom.css')
  body(class="login")
    div(class="menu-toggler sidebar-toggler")

    div(class="logo")
    
    div(class="content")

      form(class="login-form" action="/api/login" method="post")
        input(type="hidden" name="_csrf" value=_csrf)
        h3(class="form-title")
          ='Sign In'
        
        if errMessage
          div(class="alert alert-danger")
            button(class="close" data-close="alert")
            span #{errMessage}

        div(class="form-group")
          label(class="control-label visible-ie8 visible-ie9") 
            ="Username"
          input(class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username")

        div(class="form-group")
          label(class="control-label visible-ie8 visible-ie9") 
            ="Password"
          input(class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="Password")

        div.form-group !{captcha}
        div(class="form-group")
          label(class="control-label visible-ie8 visible-ie9") 
          input(class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="captcha" name="captcha")

        div(class="form-actions")
          button(type="submit" class="btn btn-success uppercase")
            ="Login"
          a(href="javascript:;" id="forget-password" class="forget-password")
            ="Forgot Password?"

      form(class="forget-form" action="/forget-password" method="post")
        h3 Forget Password ?
        p Enter your e-mail address below to reset your password.
        div.form-group
          input(class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email")
        div(class="form-actions")
          button(type="button" id="backBtn" class="btn btn-default")
            ="Back"
          button(type="submit" class="btn btn-success uppercase pull-right")
            ="Submit"
    div.copyright 2017 © Sigma

    script(src="javascripts/login.js")